@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Pangolin&display=swap');
/*Este import es para mandar a llamar los estilos de fuentes*/
*{
    margin: 0;
    padding: 0;
}

header{
    background: lightgray;
    width: 99%;
    height: 20vh;
    border: 3px solid white;
    margin: 3px 3px;
    position: relative;
}

h1{
    position: absolute;
    top: 50px;
    left: 40%;
    font-family: "Pangolin", sans-serif; 
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

#fuente{
    color: green;
    font-size: 40px;
    font-family: "Bangers", sans-serif, Arial;
    text-transform: uppercase;/*Se utiliza para modificar el texto*/
    font-style: initial;
    text-decoration-line: underline;/*se utiliza para subrayar un texto*/
}