*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background: black;
}

h1{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

video{
    width: 50%;
    height: 50%;
    margin: 2% 25%;
}

audio{
    width: 50%;
    margin: 2% 25%;
}

iframe{
    margin: 2% 25%;
}