*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

/*Pseudoelemento*/
h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

/*se crea una clase titulos, donde se van a acomodar dos textos de manera horizontal*/
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.columna > div{
    background: black;
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
}

.flex > .columnareversa{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}



.columnareversa > div{
    width: 20px;
    height: 20px;
    background: black;
    color: white;
    margin: 5px ;
    padding: 20px;
    font-size: 20px;
}

/*display flex ep para indicar que se va a empezar a utilizar el comando flex*/
.flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexrow > .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.flex > .row-reverse{
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
}

.flexrow > .row > div{
    background: black;
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
}

.flexrow > .row-reverse > div{
    background: black;
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
}

#titulo{
    text-align: center;
}

.center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
 
.center > div{
    background: black;
    width: 20px;
    height: 20px;
    color: white;
    margin: 5px;
    padding: 20px;
    font-size: 20px;
}

.flex-start{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flex-start > div{
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

#subtitulo3{
    text-align: end;
}

#flexend{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#flexend > div{
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.spacearound{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.spacearound > div{
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.spacebetween{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.spacebetween > div{
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

.spaceevenly{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.spaceevenly > div{
    background: black;
    width: 30px;
    height: 30px;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}